@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:ital,wght@1,300&family=Open+Sans:wght@300&family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto:wght@100;300;400;500&display=swap');
@import url(./count.css);
@import url(../css/welcome.css);
@import url(../css/profile.css);
@import url(../css/setting.css);

html {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
}

.container {
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
    position: relative;
    min-width: 1000px;
    max-width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.game {
    width: 90%;
    height: 80%;
    background-color: #ff7b01;
    border-radius: 45px;
    /* border: 15px solid #ff7b01; */
    border-top: 10px solid #ff7b01;
    border-bottom: 10px solid #ff7b01;
    border-left: 15px solid #ff7b01;
    border-right: 15px solid #ff7b01;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.left__circle {
    position: absolute;
    left: 12px;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    transform: translateY(-50%);
}

.right__circle {
    position: absolute;
    right: 12px;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    transform: translateY(-50%);
}

.left__circle i, .right__circle i {
    font-size: 16px;
    color: rgb(253, 38, 38);
    position: relative;
    text-shadow: 0 0 0.5rem #fff,
                 0 0 1rem #fff,
                 0 0 1.5rem #fff,
                 0 0 2.5rem rgb(253, 38, 38),
                 0 0 4rem rgb(253, 38, 38),
                 0 0 5.5rem rgb(253, 38, 38),
                 0 0 6rem rgb(253, 38, 38),
                 0 0 9rem rgb(253, 38, 38);
    animation: animate 4s ease infinite;
}

.left__circle i::after, .right__circle i::after {
    content: '';
    position: absolute;
    border-right: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    right: 2px;
    top: 1px;
}

@keyframes animate{
    0%{
        color: rgb(253, 38, 38);
        text-shadow: 0 0 0.5rem #fff,
                    0 0 1rem #fff,
                    0 0 1.5rem #fff,
                    0 0 2.5rem rgb(253, 38, 38),
                    0 0 4rem rgb(253, 38, 38),
                    0 0 5.5rem rgb(253, 38, 38),
                    0 0 6rem rgb(253, 38, 38),
                    0 0 9rem rgb(253, 38, 38);
    }
    45%{
        color: rgb(253, 38, 38);
        text-shadow: 0 0 0.5rem #fff,
                    0 0 1rem #fff,
                    0 0 1.5rem #fff,
                    0 0 2.5rem rgb(253, 38, 38),
                    0 0 4rem rgb(253, 38, 38),
                    0 0 5.5rem rgb(253, 38, 38),
                    0 0 6rem rgb(253, 38, 38),
                    0 0 9rem rgb(253, 38, 38);
    }
    70%{
        color: #00ff2a;
        text-shadow: 0 0 5px #00ff2a,
        0 0 10px #00ff2a,
        0 0 15px #00ff2a,
        0 0 30px #00ff2a,
        0 0 60px #00ff2a;
    }
    100%{
        color: #00ff2a;
        text-shadow: 0 0 5px #00ff2a,
        0 0 10px #00ff2a,
        0 0 15px #00ff2a,
        0 0 30px #00ff2a,
        0 0 60px #00ff2a;
    }
}

.left__circle i:nth-child(1),
.right__circle i:nth-child(1){
    animation-delay: 0s;
}
.left__circle i:nth-child(2),
.right__circle i:nth-child(2){
    animation-delay: 0.3s;
}
.left__circle i:nth-child(3),
.right__circle i:nth-child(3){
    animation-delay: 0.6s;
}
.left__circle i:nth-child(4),
.right__circle i:nth-child(4){
    animation-delay: 0.9s;
}
.left__circle i:nth-child(5),
.right__circle i:nth-child(5){
    animation-delay: 1.2s;
}
.left__circle i:nth-child(6),
.right__circle i:nth-child(6){
    animation-delay: 1.5s;
}
.left__circle i:nth-child(7),
.right__circle i:nth-child(7){
    animation-delay: 1.8s;
}

.game__container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    display: flex;
    cursor: pointer;
    display: none;
    animation: welcome 1s ease-in-out;
}

@keyframes welcome {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
} 

.game__container-left {
    width: 28%;
    height: 100%;
    display: flex;
    margin-top: 0.5rem;
}
.leftSideBoxContainer,
.rightSideBoxContainer{
    width: 47%;
    height: 100%;
    padding-top: 5%;
}

.box{
    width: 92%;
    height: 21%;
    padding: 4% 0 0 8%;
}
.btnGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67%;
}
.animalCircleImg{
    width: 70%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s all;
}
.reduceBtn{
    width: 30%;
    height: 50%;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.amountField{
    width: 90%;
    height: 25%;
    padding: 5%;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.myValue,
.maxValue{
    width: 48%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: end;
    color: orange;
    font-size: 1.5rem;
    font-weight: 800;
}
.myValue{
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
    border-start-end-radius: 2.5px;
    border-end-end-radius: 2.5px;
}
.maxValue{
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
    border-start-start-radius: 2.5px;
    border-end-start-radius: 2.5px;
}

.myValue span, .maxValue span {
    margin-right: 4px;
}

.game__container-center {
    width: 45%;
}

.game__container-center-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
    margin-top: 1.5rem;
    position: relative;
    background-image: url(../images/square-buttons/sea-bg.png);
    background-size: cover;
}

.game__container-center-top .img1 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 0%;
    top: 0;
}

.img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.animal-circle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 255, 42, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.game__container-center-top .img2 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 10.5%;
    top: 0;
}

.game__container-center-top .img3 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 21%;
    top: 0;
}

.game__container-center-top .img4 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 31.5%;
    top: 0;
}

.game__container-center-top .img5 {
    position: absolute;
    width: 16%;
    height: 16%;
    left: 42%;
    top: 0;
    transform: rotate(360deg);
}

.game__container-center-top .img6 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 58%;
    top: 0;
}

.game__container-center-top .img7 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 68.5%;
    top: 0;
}

.game__container-center-top .img8 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 79%;
    top: 0;
}

.game__container-center-top .img9 {
    position: absolute;
    width: 10.7%;
    height: 10.7%;
    right: 0%;
    top: 0;
}

.game__container-center-top .img10 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    right: 0;
    top: 10.6%;
}

.game__container-center-top .img11 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    right: 0;
    top: 20.5%;
}

.game__container-center-top .img12 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    right: 0;
    top: 31%;
}

.game__container-center-top .img13 {
    position: absolute;
    width: 16%;
    height: 16%;
    right: 0%;
    top: 41.5%;
}

.game__container-center-top .img14 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    right: 0%;
    top: 57.4%;
}

.game__container-center-top .img15 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    right: 0%;
    top: 67.9%;
}

.game__container-center-top .img16 {
    position: absolute;
    width: 10.6%;
    height: 10.6%;
    right: 0%;
    top: 78.4%;
}

.game__container-center-top .img17 {
    position: absolute;
    width: 11%;
    height: 11%;
    right: 0%;
    bottom: 0%;
}

.game__container-center-top .img18 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    right: 10.8%;
    bottom: 0%;
}

.game__container-center-top .img19 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    right: 21.3%;
    bottom: 0%;
}

.game__container-center-top .img20 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    right: 31.8%;
    bottom: 0%;
}

.game__container-center-top .img21 {
    position: absolute;
    width: 16%;
    height: 16%;
    right: 42.3%;
    bottom: 0%;
}

.game__container-center-top .img22 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    right: 58.3%;
    bottom: 0%;
}

.game__container-center-top .img23 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    right: 68.8%;
    bottom: 0%;
}

.game__container-center-top .img24 {
    position: absolute;
    width: 10.7%;
    height: 10.7%;
    right: 79.3%;
    bottom: 0%;
}

.game__container-center-top .img25 {
    position: absolute;
    width: 10.7%;
    height: 10.7%;
    left: 0%;
    bottom: 0%;
}

.game__container-center-top .img26 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 0%;
    bottom: 10.7%;
}

.game__container-center-top .img27 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 0%;
    bottom: 21.2%;
}

.game__container-center-top .img28 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 0%;
    bottom: 31.7%;
}

.game__container-center-top .img29 {
    position: absolute;
    width: 16%;
    height: 16%;
    left: 0%;
    bottom: 42.2%;
}

.game__container-center-top .img30 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 0%;
    bottom: 58.2%;
}

.game__container-center-top .img31 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 0%;
    bottom: 68.7%;
}

.game__container-center-top .img32 {
    position: absolute;
    width: 10.5%;
    height: 10.5%;
    left: 0%;
    bottom: 79.2%;
}

/* .count-down {
    color: #fff;
    top: 50%;
    right: 50%;
    font-size: 3rem;
    font-weight: 600;
    animation: time 1s ease-in-out infinite;
    display: none;
}

@keyframes time {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
} */

.game__container-center-bottom {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
    margin-top: 1.4rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.game__container-center-bottom-item1 {
    width: 39%;
    display: flex;
    align-items: center;
    gap: 6px;
}

.game__container-center-bottom-item1 p {
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
}

.game__container-center-bottom-item1-price {
    width: 50%;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.game__container-center-bottom-item1 span {
    font-weight: 600;
    color: #ff7b01;
    font-size: 0.9rem;
    padding: 4px 4px 4px 0;
}

.game__container-center-bottom-item2 {
    width: 26%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.game__container-center-bottom-item2 p {
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
}

.game__container-center-bottom-item2-price {
    width: 60%;
    height: auto;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.game__container-center-bottom-item2-price span {
    font-size: 0.9rem;
    font-weight: 600;
    color: #ff7b01;
    padding: 4px 4px 4px 0;
}

.game__container-right {
    width: 30%;
    height: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.game__container-right .box{
    padding: 0px;
    width: 93%;
    height: 12.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.game__container-right .box .animalCircleImg{
    width: auto;
    height: 100%;
    margin-left: 0.5rem;
}

.box-amount {
    width: 52%;
    height: 65%;
    border-radius: 8px;
    display: flex;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    align-items: center;
    gap : 8px
}

.box-amount-item:nth-child(1) {
    margin-left: 8px;
}

.box-amount-item:nth-child(2) {
    margin-right: 8px;
}

.box-amount-item {
    width: 40%;
    height: 70%;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box-amount-item span {
    font-weight: 600;
    font-size: 1.5rem;
    color: orange;
    margin-right: 4px;
}

.game__container-right .btn-box{
    padding: 0px;
    width: 50%;
    height: 13.4%;
    margin-left: 51%;
}
.game__container-right .btn-box .rotate{
    height: 100%;
    transition: 0.3s all;
}

.btn-box .rotate:hover {
    transform: scale(0.8);
}

.game__container-right .btn{
    display: flex;
    padding: 0px;
    width: 100%;
    height: 13.4%;
}

.game__container-right .btn img{
    margin-top: 0.4rem;
    height: 100%;
    transition: 0.3s all;
}

.btn img:hover {
    transform: scale(0.8);
}

.quit-btn {
    margin-top: 1rem;
    background-color: #EC381F;
    margin-left: 4.5rem;
    padding: .8rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 40px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.3s all;
}

.quit-btn:hover {
    transform: scale(1.1);
}

.quit-btn:active {
    transform: scale(0.9);
}

.game__container-right .btn .image1 {
    margin-left: 3.5rem;
    margin-right: 1rem;
}

.game__container-right .get-coin{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 75%;
    height: 48px;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
    border-radius: 10px;
    gap: 4px;
    margin-top: 0.8rem;
    margin-left: 2rem;
    transition: 0.3s all;
}

.get-coin:active {
    transform: scale(0.9);
}

.game__container-right .get-coin img{
    width: 15%;
}
.game__container-right .get-coin span{
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
} 

#audioTimer {
    display: none;
}

#click {
    display: none;
}

#spanWheel {
    display: none;
}

#clock {
    display: none;
}

#clockAlarm {
    display: none;
}

#winning {
    display: none;
}

#loserSong {
    display: none;
}

#happy {
    display: none;
}

.animalCircleImg:hover {
    transform: scale(1.1);
}

.animalCircleImg:active {
    transform: scale(0.9);
}

.winOrLose {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(255,255,255,0.4), rgba(255,255,255,0.1));
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    animation: win 1s ease-in-out;
    display: none;
}

.loserGif {
    position: absolute;
    width: 50%;
    height: auto;
    top: 15%;
    display: none;
}

@keyframes win {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.winOrLose h3, .winOrLose h5, .winOrLose p {
    font-size: 1.3rem;
    font-weight: 600;
    background: linear-gradient(90deg, #ffe600, #ff7b01);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.celebration {
    position: absolute;
    display: none;
}

.sure-quit {
    width: 60%;
    height: 50%;
    background: linear-gradient(135deg, rgba(255,255,255,0.4), rgba(255,255,255,0.1));
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 25px;
    animation: win 1s ease-in-out;
    display: none;
}

.sure-quit p{
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

.sure-quit button {
    border: none;
    outline: none;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    transition: 0.3s all;
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sure-quit button:hover {
    transform: scale(1.1);
}

.sure-quit button:active {
    transform: scale(0.9);
}

.quit-yes {
    background: #EC381F;
    margin-left: 1.8rem;
    margin-right: 2rem;
}

.quit-no {
    background: #00ff2a;
}

.game__container-winning {
    height: 50%;
    width: auto;
    position: absolute;
    display: none;
}

.winning1 {
    top: -10%;
    right: -10%;
}

.winning2 {
    top: -10%;
    left: -10%;
    transform: rotate(180deg);
}

.winning3 {
    bottom: 0;
    left: -10%;
}

.winning4 {
    bottom: 0;
    right: -10%;
}

@media (min-width:1400px) {
    .container{
        min-width: 1200px;
        min-height: 800px;
    }

    .btnGroup {
        height: 70%;
    }

    .animalCircleImg {
        width: 74%;
    }

    .game__container-center-top {
        height: 77%;
    }

    .game__container-center-bottom {
        margin-top: 1.6rem;
    }

    .game__container-center-bottom-item1 p {
        font-size: 1.1rem;
    }

    .game__container-center-bottom-item1-price {
        width: 55%;
    }

    .game__container-center-bottom-item1 span {
        font-size: 1.1rem;
    }

    .game__container-center-bottom-item2 {
        width: auto;
        gap: 0.3rem;
    }

    .game__container-center-bottom-item2-price {
        width: 60px;
    }

    .box-amount-item:nth-child(1) {
        margin-left: 10px;
    }

    .game__container-center-bottom-item2 p {
        font-size: 1.1rem;

    }

    .game__container-center-bottom-item2-price span {
        font-size: 1.1rem;
    }

    .box-amount {
        gap: 0.5rem;
    }

    .game__container-right .btn-box {
        height: 14%;
        margin-left: 49.5%;
    }

    .game__container-right .btn {
        margin-top: 0.7rem;
        height: 13.4%;
    }

    .game__container-right .btn .image1 {
        margin: 0.3rem 1rem 0 3.5rem;
    }
    .game__container-right .btn img:nth-child(2) {
        margin-top: 0.3rem;
    }

    .game__container-right .get-coin {
        margin-top: 1.4rem;
        height: 67px;
    }

    .game__container-right .get-coin img {
        width: 17%;
    }

    .game__container-right .get-coin span {
        font-size: 1.8rem;
    }

    .left__circle {
        left: 16px;
        gap: 2rem;
    }

    .right__circle {
        right: 16px;
        gap: 2rem;
    }

    .quit-btn {
        padding: 1.2rem 3rem;
        margin-left: 5rem;
    }
}