@import url(./reset.css);

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 90vw;
    height: 80vh;
    background-color: #ff7b01;
    border-radius: 20px;
    /* border: 15px solid #ff7b01; */
    border-top: 10px solid #ff7b01;
    border-bottom: 10px solid #ff7b01;
    border-left: 15px solid #ff7b01;
    border-right: 15px solid #ff7b01;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.game__container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.left__circle {
    position: absolute;
    left: 15px;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    transform: translateY(-50%);
}

.left__circle i, .right__circle i {
    font-size: 16px;
    color: red;
}

.right__circle {
    position: absolute;
    right: 15px;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    transform: translateY(-50%);
}
