
.game__welcome {
    width: 100%;
    height: 100%;
    background-image: url(../images/menu-board/menu\ board\ \(1\).png);
    background-size: cover;
    border-radius: 45px;
    cursor: pointer;
    display: block;
}

.game__welcome-top {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.game__welcome-top-item1 {
    width: 20%;
    height: 100%;
    display: flex;
    margin-top: 1rem;
    gap: 0.5rem;
    margin-left: 5rem;
}

.game__welcome-top-item1 img {
    height: 45%;
    width: auto;
}

.game__welcome-top-item2 {
    width: 25%;
    height: 100%;
    margin-top: 1.2rem;
    margin-right: 1.5rem;
}

.game__welcome-top-item2-name {
    width: 95%;
    height: 40%;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
    border-radius: 38px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.game__welcome-top-item2-name-left {
    width: 70%;
    height: 76%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #fff;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.game__welcome-top-item2-name-left p {
    font-size: 0.9rem;
    font-weight: 800;
    margin-right: 6px;
    margin-top: 5px;
}

.game__welcome-top-item2-name-left-level {
    width: 90%;
    height: 12px;
    border-radius: 40px;
    margin-right: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-bar {
    position: relative;
    width: 92%;
    height: 60%;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 40px;
    overflow: hidden;
}

.level-bar::after{
    content: "";
    position: absolute;
    width: 55%;
    height: 100%;
    left: 0;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
}


.game__welcome-top-item2-name img {
    width: 16%;
    height: auto;
}

.game__welcome-top-item2-coin {
    width: 95%;
    height: 40%;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
    border-radius: 38px;
    display: flex;
    margin-top: 0.8rem;
    align-items: center;
    gap: 0.8rem;
}

.game__welcome-top-item2-coin img{
    height: 78%;
    width: auto;
    margin-left: 1rem;
}

.game__welcome-top-item2-coin p {
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.game__welcome-center {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__welcome-center img {
    width: 28%;
    height: auto;
}

@media (min-width:1400px) {
    .game__welcome-top-item2-name-left {
        gap: 6px;
    }

    .game__welcome-top-item2-name-left p {
        font-size: 1.1rem;
    }

    .game__welcome-top-item2-name-left-level {
        height: 18px;
    }

    .game__welcome-top-item2-coin p {
        font-size: 2.5rem;
        letter-spacing: 3px;
    }
}